.navBar {
  background-color: rgba(0, 0, 0, 0.17) !important;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 12s ease infinite;
  -moz-animation: Gradient 12s ease infinite;
  animation: Gradient 12s ease infinite;
  box-shadow: 0 .3rem .3rem rgba(0,0,0,.1) !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
}

.NavbarBrand {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  font-weight: 200;
  /* letter-spacing: 1rem; */
}

.NavLink {
    color: rgba(255,255,255,.9) !important;
    font-family: 'Montserrat', sans-serif;
}


.navbar-collapse {
    /* padding-top: 1rem; */
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    text-align: center;
}
